@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Mobile */
    #name {
        margin-right:0px;
    }
    
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Tablets */

}

@media only screen and (min-device-width : 1024px) {
/* All Others */
    #logindiv {
        margin-left: 70%;
        margin-top: 15%;
    }
}