#logoutbtn {
    text-decoration: none;
    text-align: center;
}

nav {
    background: linear-gradient(to bottom, #f1e867 0%, #feb445 100%);
    z-index: 999;
    font-size: 2em;
    box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
    margin-top: 0;
    margin-left: 0;
}

.btn {
    background: linear-gradient(to bottom, #f1e867, #feb445);
    border-radius: 6px;
    color: #333447;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.btn:hover {
    background: linear-gradient(to bottom, #3cb0fd, #3498db);
    font-weight: thick;
    text-decoration: none;
}

.btn:active {
    background: linear-gradient(to bottom, #2a75a3, #1a567d);
    font-weight: thick;
    text-decoration: none;
}

#navbarname{
    display: none;
}
.sidenav {
    background: linear-gradient(to bottom, moccasin, lavender);
    width: 100%;
    text-align: center;
    
}
.sidenav span {
    width: 21%;
}

.sidenav a {
    text-decoration: none;
}
.sidenav a:hover{
    text-decoration: underline;
}
.empty-row {
    height:16px;
}
.box {
    box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.75);
}

.posted-by {
    font-weight: bold;
}
.posted-on {
    font-size: 75%;
    font-weight: bolder;
}
.post {
    font-size: 115%;
}
.options-btn {
    border:none;
}
.post-options {
    float: right;
    width: 16px;
    border: none;
    text-align: center;
}
.fileContainer {
    /*overflow: hidden;*/
    position: relative;
}

.fileContainer [type=file] {
    /*cursor: inherit;*/
    /*display: block;*/
    /*font-size: 999px;*/
    filter: alpha(opacity=0);
    /*min-height: 100%;*/
    /*min-width: 100%;*/
    opacity: 0;
    /*position: absolute;*/
    /*right: 0;*/
    /*text-align: right;*/
    /*top: 0;*/
}
.upload-btn {
  font-family: Sans-serif;
  font-weight:600;
  border: 1px solid black;
  padding: 2px;
  background: linear-gradient(to bottom, #f1e867, #feb445);
  border-radius: 4px;
  
}

@media only screen and (min-width: 45em){ /* 720 */
    #navbarname{
        display: block;
    }
    .empty-row {
        height:32px;
    }
    .sidenav {
        /*background-color: linear-gradient(to bottom, #fff 0%, #999 30%, #fff 50%, #999 70%, #fff 100%);*/
        background: linear-gradient(to bottom, moccasin, lavender);
        height: 100%;
        width:12%;
        position: fixed;
        text-align: center;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 60px;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.25em;
        display: block;
        color: black;
        transition: .5s;
    }
    .sidenav a:hover{
        font-size: 1.5em;
        text-decoration: none;
        color: brown;
    }
    .middle-content {
        margin-left: 17%;
        margin-right:35%;
        
    }

   
    .photo-display {
        padding: 5px;
        max-width : 45%;
        max-height : 45%;
        width : auto;
        height : auto;
    }
    
}
