nav {
    background: linear-gradient(to bottom, #f1e867 0%, #feb445 100%);
    z-index: 999;
    font-size: 2em;
    box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.75);
    margin-top: 0;
    margin-left: 0;
}

.btn {
    background: linear-gradient(to bottom, #f1e867, #feb445);
    border-radius: 6px;
    color: #333447;
    font-weight: bolder;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: linear-gradient(to bottom, #3cb0fd, #3498db);
    font-weight: thick;
    text-decoration: none;
}

.btn:active {
    background: linear-gradient(to bottom, #2a75a3, #1a567d);
    font-weight: thick;
    text-decoration: none;
}
.sidenav ul{
    list-style-type: none;
}
@media only screen and (min-width: 45em){ /* 720 */
    .empty-row {
        height:32px;
    }
    .sidenav {
        background-color: grey;
        height: 100%;
        width: 10%;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 60px;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.5em;
        display: block;
        transition: 0.3s;
    }
}